.input {
    width: 312px;
    height: 48px;
    padding-left: 24px;
    outline: none;
    background: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: none;
    &::placeholder {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #807c7c;
    }
}
