.btn {
    height: 48px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: #f2726c;
    color: #ffffff;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
