.menu {
    width: 100%;
    max-width: 1280px;
    height: 112px;
    margin: 0 auto;
    background: #f7f3f4;
    border-bottom: 4px solid #222433;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1300px) {
        width: calc(100% - 60px);
    }
    &__logo {
        cursor: pointer;
        &:hover {
            width: 105px;
        }
    }
    &__icon {
        cursor: pointer;
        display: none;

        @media (max-width: 750px) {
            display: block;
        }
    }
}
