.container {
    border: 1px solid #fff;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background: #ffffff;
    margin: 0 auto;
    padding: 0 160px;
    z-index: 2;

    @media (max-width: 1300px) {
        padding: 0 30px;
    }

    @media (max-width: 415px) {
        padding: 0 15px;
    }
}
