.team {
    width: 100%;
    height: 100%;
    margin: 200px 0;

    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: 1050px) {
        margin: 400px 0 100px;
    }

    @media (max-width: 600px) {
        margin: 300px 0 100px;
    }
    &__title {
        width: 100%;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        & h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 56px;
            text-transform: capitalize;
            color: #222433;

            @media (max-width: 610px) {
                font-size: 28px;
                line-height: 150%;
            }
        }
        & p {
            margin-top: 16px;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #1e1a20;
            mix-blend-mode: normal;
            opacity: 0.9;

            @media (max-width: 650px) {
                font-size: 15px;
                line-height: 175%;
            }
        }
    }
    &__photos {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1350px) {
            height: 350px;
        }

        @media (max-width: 1220px) {
            height: 270px;
        }

        @media (max-width: 900px) {
            width: 350px;
            height: 650px;
            flex-direction: column;
            margin: 40px auto 0;
        }
    }
}

.photo1 {
    max-width: 323px;
    max-height: 274px;
    align-self: flex-start;
    z-index: 2;

    @media (max-width: 1350px) {
        max-width: 259px;
        max-height: 220px;
    }

    @media (max-width: 1220px) {
        max-width: 200px;
        max-height: 170px;
    }
}

.photo2 {
    max-width: 342px;
    max-height: 291px;
    align-self: flex-end;
    z-index: 2;

    @media (max-width: 1350px) {
        max-width: 282px;
        max-height: 240px;
    }

    @media (max-width: 1220px) {
        max-width: 213px;
        max-height: 181px;
    }
}

.photo3 {
    max-width: 276px;
    max-height: 312px;
    align-self: flex-start;
    z-index: 2;

    @media (max-width: 1350px) {
        max-width: 230px;
        max-height: 260px;
    }

    @media (max-width: 1220px) {
        max-width: 171px;
        max-height: 193px;
    }
}

.thread1 {
    position: absolute;
    left: 180px;
    top: 165px;

    @media (max-width: 1350px) {
        left: 10%;
        top: 155px;
    }

    @media (max-width: 1220px) {
        top: 150px;
    }

    @media (max-width: 900px) {
        width: 235px;
        height: 127px;
        left: calc(40% - 30px);
        top: 270px;
        transform: rotate(40deg);
    }
}

.thread2 {
    position: absolute;
    right: 100px;
    bottom: 80px;

    @media (max-width: 1350px) {
        right: 6%;
        bottom: 60px;
    }

    @media (max-width: 1220px) {
        bottom: 50px;
    }

    @media (max-width: 900px) {
        width: 235px;
        height: 127px;
        right: calc(40% - 30px);
        bottom: 160px;
        transform: rotate(130deg);
    }
}
